.overlay {
  position: absolute;
  top: 0;
  left: 0;

  font-size: 18px;
  line-height: 1.56;
  color: var(--main-color);
  background-color: $overlay-color;

  width: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  
  @include transition(transform);
  // transition-property: transform;
  // transition-duration: 250ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


  .card:hover &,
  .card:focus & {
    transform: translateY(0);
  }
}
