:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --logo-part-color: #2196f3;
  --main-color: #ffffff;
  --bcnd-col: #f5f4fa;
  --main-font: "Roboto";
  --secondary-font: "Raleway";
  --main-font-weight: 400;
}

$line-color: #ececec;
$hero-bckgnd-color: #c4c4c4;
$card-border-color: #eeeeee;
$overlay-color: rgba(33, 150, 243, 0.9);
$social-link-color: #afb1b8;
$placeholder-color: rgba(255, 255, 255, 0.6);
$subscribe-brdr-col: rgba(255, 255, 255, 0.3);
$activity-bgnd-col: rgba(47, 48, 58, 0.8);
$backdrop-color: rgba(0, 0, 0, 0.2);
$btn-hover-color: #188ce8;
$close-btn-border: rgba(0, 0, 0, 0.1);
$benefits-background-col: #f5f4fa;
$footer-bckgnd-color: #2f303a;
$input-border-color: rgba(33, 33, 33, 0.2);
$textarea-border-color: rgba(117, 117, 117, 0.5);
$logo-bottom-color: #000000;
