.benefits {
  &__title {
    @extend %visually-hidden;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    &__list {
      display: flex;
    }

    &__item--left:not(:first-child) {
      margin-left: 30px;
    }
  }

  @media screen and (max-width: 767px) {
    &__item:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (max-width: 767px), screen and (min-width: 1200px) {
    &__item {
      width: 100%;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &__item {
      flex-basis: calc((100% - 30px) / 2);
    }
  }

  &__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $benefits-background-col;
    border-radius: 4px;

    height: 120px;
    margin-bottom: 30px;
  }

  &__icon {
    display: block;
  }

  @media screen and (max-width: 767px) {
    &__heading {
      text-align: center;
    }
  }

  &__heading {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
  }
}
