.card-set {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__item {
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
      width: 100%;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
      background-color: var(--main-color);
      flex-basis: calc((100% - 60px) / 3);
      margin-right: 30px;
      margin-bottom: 30px;

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
    }
  }
}
