.customers-list {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    gap: 30px;
  }

  &__icon {
    display: block;
    fill: currentColor;
  }

  &__item {
    height: 92px;
  }

  @media screen and (max-width: 767px) {
    &__item {
      flex-basis: calc((100% - 30px) / 2);
    }
  }

  @media screen and (min-width: 768px) {
    &__item {
      flex-basis: calc((100% - 60px) / 3);
    }
  }

  @media screen and (min-width: 1200px) {
    &__item {
      max-width: 170px;

      &--right:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border: 1px solid $social-link-color;
    border-radius: 4px;
    color: $social-link-color;

    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--logo-part-color);
      border-color: var(--logo-part-color);
    }
  }
}
