.header {
  border-bottom: 1px solid $line-color;

  @media screen and (min-width: 768px) {
    &__container {
      display: flex;
      align-items: center;
    }
  }

  @media screen and (min-width: 1200px) {
    &__container {
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    z-index: 23;
    width: 100%;
  }

  .header__container {
    position: relative;
  }

  .nav,
  .contacts {
    display: none;
  }
}

.nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;

    &__list--left {
      margin-left: 88px;
    }

    &__list {
      display: flex;
    }

    &__item--right:not(:last-child) {
      margin-right: 50px;
    }

    &__link {
      padding-top: 32px;
      padding-bottom: 32px;

      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--secondary-text-color);
    }
  }

  @media screen and (min-width: 1200px) {
    &__list--left {
      margin-left: 93px;
    }
  }
}

.contacts {
  &--left {
    margin-left: auto;
  }

  @media screen and (max-width: 1199px) {
    margin-top: 21px;
    margin-bottom: 21px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.contact {
  @media screen and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 768px) {
    &__link {
      display: flex;
      align-items: center;
      color: var(--main-text-color);
      fill: var(--main-text-color);

      font-weight: 500;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.02em;
    }
  }

  @media screen and (min-width: 1200px) {
    &--right:not(:last-child) {
      margin-right: 50px;
    }

    &__link {
      display: flex;
      align-items: center;
      color: var(--main-text-color);
      fill: var(--main-text-color);
      padding-top: 32px;
      padding-bottom: 32px;

      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
    }
  }

  @media screen and (min-width: 768px) {
    &__icon {
      fill: currentColor;
      margin-right: 8px;
    }

    &__icon--desk-visible {
      display: none;
    }

    &__icon--tablet-visible {
      display: block;
    }
  }

  @media screen and (min-width: 1200px) {
    &__icon {
      margin-right: 10px;
    }

    &__icon--desk-visible {
      display: block;
    }

    &__icon--tablet-visible {
      display: none;
    }
  }
}
