.modal-check {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &__checkbox {
    @extend %visually-hidden;
  }

  &__checkbox:checked + &__icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z' fill='%23fff' stroke='%23fff' stroke-width='.2'/%3E%3C/svg%3E");
    background-color: var(--logo-part-color);
    background-size: contain;
    background-origin: border-box;
    border-color: transparent;
  }

  &__icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 7px;

    border: 2px solid var(--secondary-text-color);
    border-radius: 2px;
    background-color: var(--main-color);

    transition-property: background-color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__agreement {
    text-decoration-line: underline;
    color: var(--logo-part-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: $btn-hover-color;
    }
  }
}
